.table {
  border: white;
  background: white;
  border-collapse: collapse;
  border: 2px solid white;
}

td {
  padding: 3px;
  border: maroon;
}

.styleTD {
  border: 1px solid gray;
}

.button {
  margin: 5px;
}
