<h1>Welcome to app</h1>
<div *ngIf="!!products.length">
  <table>
    <tr>
      <th>Название товара</th>
      <th>Количество товара</th>
      <th>Цена</th>
      <th>Сумма</th>
      <th colspan="2">Добавить товар</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{product.name}}</td>
      <td><input type="number" min="0" [value]="product.count"></td>
      <td>{{product.price}}</td>
      <td>{{product.sum}}</td>
      <td>
        <button (click)="addProduct(product.id)" >Добавить</button>
      </td>
      <td>
        <button (click)="delProduct(product.id)">Удалить</button>
      </td>
    </tr>
  </table>
</div>
